<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Danskun blogi</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Ensimmäinen postaus :))</a></h2>
            <p>Pyy on pieni kyyhkyn kokoinen metsäkanalintu. Se on noin 34–39 cm pitkä ja painaa noin 250–450 grammaa.[</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Toinen postaus :))</a></h2>
            <p>Suomessa pyitä tapaa lähes koko maasta, lukuun ottamatta pohjoisinta Tunturi-Lappia. Runsaimmin niitä on kuitenkin Oulun eteläpuolella. </p>
        </div>
    </body>
</html>
